{% extends "RRIT/index.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "admin/css/changelists.css" %}">
<script src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<link rel="stylesheet" href="{% static "leaflet.css" %} " />
<link rel="stylesheet" href="{% static "map.css" %} " />
<script src="{% static "leaflet.js" %}"></script>
<link rel="stylesheet" href="{% static "MarkerCluster.css" %} " />
<link rel="stylesheet" href="{% static "MarkerCluster.Default.css" %} " />
<script src="{% static "Incidents/js/map.js" %}"></script>

<script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "leaflet.markercluster-src.js" %}"></script>
<script src="{% static "leaflet.markercluster.js" %}"></script>
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %} " />


{% endblock %}

{% block bodyclass %} app-{{ action_model }} model-{{ action_models_s }} change-list{% endblock %}
{% block sidebar %}
{% endblock %}
{% block nav-breadcrumbs %}
{% include "RRIT/navigation.html" %}

{% endblock %}


{% block nav-sidebar %}
{% include "RRIT/nav_sidebar.html" %}
{% endblock %}
{% block content %}
Происшествие было удалено
{% endblock %}