{% load i18n %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar"
        aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar" aria-label="{% translate 'Sidebar' %}">
    <input type="search" id="nav-filter"
           placeholder="{% translate 'Start typing to filter…' %}"
           aria-label="{% translate 'Filter navigation items' %}">

{% for app in app_models %}
                    <div class="app-{{ app.app_label }} module{% if app.app_url in request.path|urlencode %} current-app{% endif %}">
                        <table>

                            {% for key, value in app.items %}
                            <caption>

                                <a href="#" class="section"
                                   title="{% blocktranslate with name=key %}Models in the {{ key }} application{% endblocktranslate %}">
                                    {% if key == 'users'%}
                                    Пользователи
                                    {% elif key == 'Incidents' %}
                                    Происшествия
                                    {% elif key == 'Subdivisions' %}
                                    Подразделения
                                    {% endif %}
                                </a>
                            </caption>
                            {% for value1 in value %}

                            {% if value1.url_view == '' and value1.add_url == '' %}
                            {% else %}
                            <tr class="model-{{ value1.app_label }}  {% if action_model in value1.app_label %} current-model {% endif %}">

                                <th scope="row">
                                {% if value1.url_view == ''  %}
                                {{ value1.name}}
                                    {% else %}
                                <a href="{{ value1.url_view }}" aria-current="page">{{ value1.name}}</a>
                                  {% endif %}
                                </th>

                                {% if value1.add_url == ''   %}
                                <td><a href="" class=""></a></td>
                                {% else %}
                                <td><a href="{{ value1.add_url }}" class="addlink">{% translate 'Add' %}</a></td>
                                {% endif %}
                            </tr>
                            {% endif %}
                            {% endfor %}


                            {% endfor %}
                        </table>
                    </div>

                    {% endfor %}

</nav>
