{% extends "RRIT/index.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
 {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/changelists.css" %}">
    <script src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block bodyclass %} app-{{ action_model }} model-{{ action_models_s }} change-list{% endblock %}
{% block sidebar %}
{% endblock %}
{% block nav-breadcrumbs %}
{% include "RRIT/navigation.html" %}

{% endblock %}


{% block nav-sidebar %}
{% include "RRIT/nav_sidebar.html" %}
{% endblock %}
{% block content %}
<h1>Выберите {{ru_name_single}} для изменения</h1>
<div id="content-main">
    {% block coltype %}{% endblock %}
    {% block object-tools %}
    <ul class="object-tools">
        <li>
            <a href="add/" class="addlink"> Добавить {{ru_name_single}}

            </a>
        </li>
    </ul>
    {% endblock %}
    <div class="module" id="changelist">
        <div class="changelist-form-container">
            <div id="toolbar">
                <form id="" action="%3F" method="get">
                        <label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search"></label>
                        <input type="text" size="40" name="search" value="" id="searchbar">
                        <input type="submit" value="{% translate 'Search' %}">
                </form>
            </div>

            <form id="changelist-form" method="post" novalidate=""><input type="hidden" name="csrfmiddlewaretoken"
                                                                          value="I392hWKAYLrydLjSWmAs176fiTun39UOhMgEujVVvIbD1JY7g4aorJklbS6kxn8q">
                <div class="actions">
                    <label>Действие: <select name="action" required="">
                        <option value="" selected="">---------</option>
                        <option value="delete_selected">Удалить выбранные Инциденты</option>
                    </select></label><input type="hidden" name="select_across" value="0" class="select-across">
                    <button type="submit" class="button" title="Выполнить выбранное действие" name="index" value="0">
                        Выполнить
                    </button>
                    <span class="action-counter" data-actions-icnt="1">Выбрано 0 объектов из 1 </span>
                </div>
                {% if array_of_data|length %}
                <div class="results">
                    <table id="result_list">
                        <thead>
                        <tr>
                            <th scope="col" class="action-checkbox-column">
                                <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                                <div class="clear"></div>
                            </th>

                            {% for th in array_of_th %}
                            <th scope="col" class="column-__str__">
                                <div class="text"><span>{{ th }}</span></div>
                                <div class="clear"></div>
                            </th>
                            {% endfor %}


                        </tr>
                        </thead>
                        <tbody>
                        {% for data in array_of_data %}
                        <tr>
                            {% for key, value in data.items %}
                                          <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="{{ key }}"
                                                               class="action-select"></td>
                            {% for down_value in value%}
                            {% for key1, value1 in down_value.items %}
                            <th class="field-{{ key1 }}">

                                {% if action_model == 'Specifications'%}
<a href="/{{ start_model }}/{{action_models_s}}/{{ key }}/">
                                {% elif action_model == 'Positions' %}
<a href="/{{ start_model }}/{{action_models_s}}/{{ key }}/">
                                    {% elif action_model == 'Status' %}
<a href="/{{ start_model }}/{{action_models_s}}/{{ key }}/">
    {%else%}
                                <a href="/{{ action_model }}/{{ key }}/">
                                    {% endif %}
                                {{ value1 }}
                            </a></th>
                            {% endfor %}
                            {% endfor %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                <p class="paginator">

                    {{array_of_data|length}} {{ ru_name_all }}
                </p>
            </form>
        </div>
    </div>
    {% if action_model == 'Incidents'%}<a href="{% url 'Incidents_map'%}">Просмотреть все</a>{% endif %}
    {% if action_model == 'Subdivisions'%}<a href="{% url 'Subdivision_map'%}">Просмотреть все</a>{% endif %}
</div>
{% endblock %}
