{% extends "RRIT/index.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
{{ block.super }}

<script src="{% url 'admin:jsi18n' %}"></script>

{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<link rel="stylesheet" href="{% static "leaflet.css" %} " />

<link rel="stylesheet" href="{% static "map.css" %} " />
<!---<link rel="stylesheet" href="{% static "add.css" %} " />--!>
<script src="{% static "leaflet.js" %}"></script>
<script src="{% static "Subdivisions/js/map.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %} " />
<link rel="stylesheet" href="{% static "Subdivisions/css/table.css" %} " />

{% endblock %}

{% block bodyclass %} app-{{ action_model }} model-{{ action_models_s }} change-list{% endblock %}
{% block sidebar %}
{% endblock %}
{% block nav-breadcrumbs %}
{% include "RRIT/navigation.html" %}

{% endblock %}


{% block nav-sidebar %}
{% include "RRIT/nav_sidebar.html" %}
{% endblock %}
{% block content %}
<div class="container1">
    <div class="row1">
        <div class="col-sm">
            <div style="text-align: center; font-size: 1rem; font-weight: 400; line-height: 1.5;">Изменить подразделение</div>
<div id="map" style="width:750px; height: 493px; position:relative; text-align:center; margin-top: 10px;"></div>
        </div>
        <div class="col-sm">
            <div style="text-align: center; font-size: 1rem; font-weight: 400; line-height: 1.5;">Характеристики подразделения</div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                <div class="input-group mt-2">
                    <span class="input-group-text">Адрес</span>
                    {{ form.address }}
                    <div style="display:none" id="errorAddress">Адрес не найден! Вам будет доступна возможность ввести
                        его в поле выше
                    </div>
                </div>
                <div class="form-error">{{ form.address.errors }}</div>

                <div class="input-group mt-2">
                    <span class="input-group-text">Координаты</span>
                    {{ form.latitude }}
                    {{ form.longitude }}
                </div>
                    <div class="form-error">{{ form.latitude.errors }}</div>
                    <div class="form-error">{{ form.longitude.errors }}</div>
                                <div class="input-group mt-2">
                    <span class="input-group-text">Aббревиатура</span>
                    {{ form.abbreviation }}
                                                    <div class="form-error">{{ form.address.errors }}</div>
                </div>
                <div class="form-group mt-2">
                    <label for="exampleFormControlTextarea1" style="font-size: 1rem; font-weight: 400; line-height: 1.5;">Описание подразделения</label>
                    {{ form.description }}
                    <div class="form-error">{{ form.description.errors }}</div>
                </div>
                <div class="form-group mt-2">
                <button type="submit" class="btn btn btn-primary w-100" >Изменить данные подразделения</button>
                </div>
            </form>
        </div>

    </div>
</div>
<div style="display: none" id="desc" data="{{subdivision.description}}"></div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('exampleFormControlTextarea1').value = document.getElementById('desc').getAttribute('data');
            create_map([55.760748705787165, 37.626156387675145], 10);
             var marker = {};
         map.on('click', function(e)
         {
                 var Icon = new L.Icon({
          iconUrl: '/static/Subdivisions/images/icons8-home-64.png',
          iconSize: [30, 30],
            });
                 if (marker != undefined) {
                    map.removeLayer(marker);
                 };

               marker = L.marker(e.latlng, {icon: Icon}).addTo(map).on('click', e => e.target.remove());
               var latHtml = document.getElementById('lat');
               latHtml.value = e.latlng.lat;
               var lonHtml = document.getElementById('lng');
               lonHtml.value = e.latlng.lng;

               var url = "http://suggestions.dadata.ru/suggestions/api/4_1/rs/geolocate/address";
               var token = "48dd8e7ec5d6409bf6586b38ac4c36b98ea34426";
               var query = { lat: e.latlng.lat, lon: e.latlng.lng };

                var options = {
                    method: "POST",
                    mode: "cors",
                    count: 1,
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json",
                        "Authorization": "Token " + token
                    },
                    body: JSON.stringify(query),
                    count: 1,
                }

                let result1;
                fetch(url, options)
                .then(response => response.json())
                .then(result => {
                console.log(result.suggestions.length);
                if (result.suggestions.length != 0){
                    document.getElementById('address').value = result.suggestions[0].value;
                    document.getElementById('errorAddress').style.display = 'none';

                } else {
                    document.getElementById('errorAddress').style.display = '';
                    document.getElementById('address').value = '';
                    document.getElementById('address').removeAttribute("readonly");
                }
                })
                .catch(error => {
                    document.getElementById('errorAddress').style.display = '';
                    document.getElementById('address').value = '';
                    document.getElementById('address').removeAttribute("readonly");
                    console.log("trigger up");
                console.log("error", error)
                });

         });
    });




</script>
<div style="display: none" id="jsonData" data-json="{{ data }}"></div>

{% endblock %}
