{% extends "RRIT/index.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/admin/css/forms.css">
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %} " />
{{ block.super }}

{% endblock %}

{% block extrahead %}

{{ block.super }}

{{ media.js }}
{% endblock %}

{% block bodyclass %} app-{{ action_model }} model-{{ action_models_s }} change-list{% endblock %}

{% block sidebar %}
{% endblock %}

{% block nav-breadcrumbs %}

{% include "RRIT/navigation.html" %}

{% endblock %}


{% block nav-sidebar %}
{% include "RRIT/nav_sidebar.html" %}
{% endblock %}
{% block content %}
<div id="content" class="colM">
    <h1>Изменить пользователя</h1>
    <h2>{{ user.surname }} {{ user.name }} {{ user.lastname }} {{ user.email }}</h2>
    <div id="content-main">
        <ul class="object-tools">
            <li>
                <a href="/admin/users/user/1/history/" class="historylink">История</a>
            </li>
        </ul>
       <form method="post" id="user_form" novalidate><input type="hidden" name="csrfmiddlewaretoken"
                                                             value="G3XKQFKx6t054ehhKR34o9lvNCfWz2cJWnIHzkqE1RSTzyMPCTxnqhDxcA5cZlt0">
            <div>
                <fieldset class="module aligned ">
                    <div class="form-row field-email">
                        <div>
                            <div class="flex-container">
                                <label class="required" for="id_email">E-mail:</label>
                                <input type="email" name="email" value="{{ user.email }}" class="vTextField"
                                       maxlength="255" required id="id_email" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-row field-password">
                        <div>
                            <div class="flex-container">
                                <label>Password:</label>
                                <div disabled id="id_password">
                                    <strong>алгоритм</strong>:
                                    <bdi>pbkdf2_sha256</bdi>
                                    <strong>итерации</strong>:
                                    <bdi>600000</bdi>
                                    <strong>соль</strong>:
                                    <bdi>{{solt}}****************</bdi>
                                    <strong>хэш</strong>:
                                    <bdi>{{hash}}**************************************</bdi>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="module aligned ">
                    <h2>Личные данные</h2>
                    <div class="form-row field-name">
                        <div>
                            <div class="flex-container">
                                <label class="required" for="id_name">Имя:</label>
                                <input type="text" name="name" value="{{ user.name }}" class="vTextField" maxlength="255"
                                       required id="id_name" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-row field-surname">
                        <div>
                            <div class="flex-container">
                                <label class="required" for="id_surname">Фамилия:</label>
                                <input type="text" name="surname" value="{{ user.surname }}" class="vTextField" maxlength="255"
                                       required id="id_surname" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-row field-lastname">
                        <div>
                            <div class="flex-container">
                                <label class="required" for="id_lastname">Отчество:</label>
                                <input type="text" name="lastname" value="{{ user.lastname }}" class="vTextField" maxlength="255"
                                       required id="id_lastname" readonly>

                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="submit-row">
                    <a type="submit" class="btn btn-primary" href="change/" style="color: white;">Изменить</a>
                    <a type="submit" class="btn btn-danger" href="delete/" style="color: white; margin-left: auto;">Удалить</a>
                </div>
            </div>
        </form>
    </div>
    <br class="clear">
</div>
{% endblock %}
