{% extends "RRIT/index.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
{{ block.super }}

<script src="{% url 'admin:jsi18n' %}"></script>

{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
<script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %} " />
{% endblock %}

{% block bodyclass %} app-{{ action_model }} model-{{ action_models_s }} change-list{% endblock %}
{% block sidebar %}
{% endblock %}
{% block nav-breadcrumbs %}
{% include "RRIT/navigation.html" %}

{% endblock %}


{% block nav-sidebar %}
{% include "RRIT/nav_sidebar.html" %}
{% endblock %}
{% block content %}
<div class="container1">
    <div class="row1">
        <div class="col-sm">
            <div style="text-align: center; font-size: 1rem; font-weight: 400; line-height: 1.5;">Добавить новую должность</div></div>
    </div>
    </div>

<fieldset class="module aligned ">
    <form action="" method="post">
                {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <div class="form-row field-">
                <div>
                        <div class="flex-container">
                                <label class="required" for="id_pattern">{{ f.label }}</label>
                                {{ f }}
                        </div>
                </div>
        </div>
        {% endfor %}
        <div class="submit-row">
                <button type="submit" class="btn btn-primary w-50" style="align:center;  margin-left: auto; margin-right: auto;">Добавить должность</button>
        </div>
        </form>
</fieldset>
{% endblock %}
